@font-face {
  font-family: 'policeNotif';
  src: url('font/police.otf') format('truetype');
}
#gestion table {
  margin-left: 10px;
  color: #6A737B;
  font-family: policeNotif;
  border: 1px solid #A8B3C5;
  border-collapse: collapse;
}
#gestion thead {
  width: 540px;
}
#gestion tbody {
  background: #E4E6ED;
  width: 540px;
  z-index: 1000;
}
#gestion thead td {
  background: #E4E6ED;
}
#gestion tbody td {
  background: white;
}
#gestion td {
  border: 1px solid #A8B3C5;
  text-align: center;
}
.button {
  margin-top: 5px;
}
.formStatus {
  margin-top: -8px;
}
