#gestion table {
  margin-left: 10px;
  border: 1px solid #363636;
  border-collapse: collapse;
}
#gestion thead {
  width: 540px;
}
#gestion tbody {
  background: #B0B0B0;
  width: 540px;
  z-index: 1000;
}
#gestion thead td {
  background: #5B605F;
}
#gestion tbody td {
  background: #B0B0B0;
}
#gestion td {
  border: 1px solid #363636;
  text-align: center;
}
