@import url('config.less');




html{
	padding: 0;
}
body{
	margin: 0;
	background-color: @color_neutral_2;
}

header, footer{
	margin: 0 auto;
	margin-top: @default_padding;
	width: @default_width;
	background-color: @color_neutral_1;
}

#container{
	width: @default_width;
	padding: @default_padding;	
	margin: 0 auto;
	overflow: auto;
	background-color: @color_neutral_1;
}

#formLog{
	padding: @default_padding;
	border: 1px solid @color_neutral_3;
	display: table;
	margin: 0 auto;
}

.profils{
	padding: 0 @default_padding;
}

.list-info{
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: @default_padding;	
}

	.list-info li{
		font-size: 18px;
		height: 36px;
		line-height: 36px;	
		color : @color_neutral_4;
	}